* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    padding-bottom: 1em;
    margin-top: 15em;
    margin-left: 0px;
    margin-bottom: 0px;
    
}

#subtilulo {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 120px;
}

#check {
    display: inline-block;
    padding-left: 1em;
}



fieldset {
    border: 0;
}

form {
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

body {
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;    
    justify-content: center;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
    outline: 0;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin: 1em;   
    
}

.campo label {
    margin-bottom: 0.3em;
    color: #000000;
    display: block;
    border: 0;
    
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.3em;
    border: 1px solid #4A5F6A;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
    outline: 0;
    
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #ffffff;
}

.botao {
    font-size: 1.2em;
    background: #000000;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.6em 2.5em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 1em;
    transform: translate(100%, 20%);
    transition: 500ms;
    
}

.botao:hover {
    background: #ffffff;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    color: black;

}

.botao, select {
    cursor: pointer;
}

.boxcheck {    
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.boxcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 15px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5)    
    
}

.boxcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

.boxcheck input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.boxcheck input:checked ~ .checkmark:after {
    display: block;
}

.boxcheck .checkmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
